__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
Thumbs.db

venv/
env/
.venv/
.env

data/
img/

seeders/*.json

raw_data/

.idea/
.vscode/

logstash/


back-end/app/static/images/accommodations/*
back-end/app/static/images/attractions/*

!back-end/app/static/images/accommodations/.gitkeep
!back-end/app/static/images/attractions/.gitkeep
*.json