__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
Thumbs.db

venv/
env/
.venv/

data/

seeders/*.json

seeders/raw_data/accomodations/*.csv
seeders/raw_data/attractions/*.csv
seeders/raw_data/attractions/*.json
seeders/raw_data/municipalities/*
seeders/raw_data/traffic_stats/*.csv
seeders/raw_data/tourism_stats/*.csv
seeders/raw_data/transport/*.csv

.idea/
.vscode/