MONGO_URI=mongodb://localhost:27017/?directConnection=true
MONGO_DB_NAME=Tourism

# Elasticsearch
ES_HOST=http://localhost:9200
ES_USER=elastic
ES_PASSWORD=changeme

# URL del back-end FastAPI (usato dal front-end Streamlit)
# In locale: http://localhost:8000
# In Docker: http://backend:8000  (nome del service nel compose)
BACKEND_URL=http://localhost:8000