MONGO_URI=mongodb://localhost:27017/?directConnection=true
MONGO_DB_NAME=Tourism
ELASTICSEARCH_URL=http://localhost:9200
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONNECT_URL=http://localhost:8083
PIEDMONT_REG_CODE=1
GEO_EPSG_CRS=epsg:4326
CORS_ALLOWED_ORIGINS=*
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=user
NEO4J_PASSWORD=password
NEO4J_MAX_DISTANCE_METERS=3000